<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <!-- Define Appenders -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="File" fileName="${basePath}/Automation.log" filePattern="${basePath}/Automation-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>         
            <SizeBasedTriggeringPolicy size="10MB"/>
            <DefaultRolloverStrategy max="20"/> <!-- Keep a maximum of 20 log files -->
        </RollingFile>
    </Appenders>

    <!-- Define Loggers -->
    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/> <!-- Output to console as well -->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>